sudo: false
language: node_js
cache:
  yarn: true
  directories:
    - node_modules
node_js:
- '6'
script:
- yarn run test
after_success:
# Deploy code coverage report to codecov.io
- yarn run test:coverage:deploy
